
body {
    margin: 0;
    padding: 0;
    font-family: Karla; 
    background-color: #fcf9f9;
}

#headerToWork {
    background-color: #ddd;
    margin-top: 0;
    margin-bottom: 20px;
}

    #headerToWork h1 {
        display: inline;
        position:absolute;
        top:1.5%;
        padding-left:1%;
    }

#addNewToWork {
    background-image: url(/resources/plus-sign.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    align-self: center;
    border:none;
    width: 30px;
    height: 30px;
    background-color: #fcf9f9;
}

#containerToWork {
    width: 80%;
    align-self: center;
    margin: auto;
    background-color: #fcf9f9;
}

#actionsToWork {
    width: 80%;
    margin: 1em auto 1em auto;
    padding: 1px 10px 1px 10px;
    background-color: #fcf9f9;
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 5fr 0.5fr ;
    grid-column-gap: 0.5em;
}


    #actionsToWork input[type=text], input[type=date]  {
        border: none;
        border-bottom: ridge;
        align-self: center;
        background-color: #fcf9f9;
    }

input[type=button] {
        background-image: url(/resources/close-cross-1.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        border: none;
        float:right;
        position: relative;
        top: -20%;
        right: -1.5%;
    }

#contToWork {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.divItemClass{
    border: none;
    display: block;
    padding: 0em 1em 0em 1em;
}

.titleClass{
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: ridge;
}

.contentClass{
    word-break: break-all;
}

.authorClass{
    font-style: italic;
    font-size: small;
    margin: 0 auto 0 auto;
} 

.dateClass{
    font-style: italic;
    font-size: small;
    margin: auto auto 0 auto;
} 

.divItemClass input[type=checkbox] {
    float:right;
    position: relative;
    bottom: 5%;
    right: -1.5%;
}
#contToWork div{
    min-width: 200px;
}

#userName{
    position: absolute;
    top: 2.5em;
    right: 1em;
    font-size: 20px;

}
